section#hero-banner .banner-container .entry-banner {
	background: url("../img/hero-banner/old-main.jpg") no-repeat 20% center;
	background-size: 100%;
}

section.gallery {
	width: 913px;
	margin: 0 auto;
	height: 800px;
}
.gallery ul {
	list-style: none outside none;
	padding-left: 0;
	margin-bottom: 0;
}
.gallery li {
	display: block;
	float: left;
	margin-right: 6px;
	cursor: pointer;
}
.gallery img {
	display: block;
	height: auto;
	max-width: 100%;
}

.gallery .lSPager.lSGallery li a img {
	width: 100%;
}
