section#hero-banner .banner-container .guide-img {
	background: url("../img/officers/officers.jpeg") no-repeat;
	background-position-x: center;
}

section.guide {
	width: 100%;
	padding-top: 50px;
}

section.guide h1, section.guide h2, section.guide h3 {
	font-family: "Lato", sans-serif;
	font-weight: 700;
	color: #000000;
}

section.guide p {
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	color: #000000;
	line-height: 30px;
}

section.guide p a {
	text-decoration: none;
	color: #040040;
	font-weight: 700;
}

section.guide li {
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	color: #000000;
	margin-bottom: 5px;
}


section.guide .guide-container {
	width: 100%;
	height: 100%;
}

section#getting-to-psu {
	height: 600px;
	text-align: center;
	position: relative;
	display: block;
	max-width: 1360px;
	margin: 0 auto;
}

div.sbs-info {
	width: 50%;
	float: left;
	box-sizing: border-box;
	display: inline-block;
	text-align: left;
	padding: 0 5px;
}

div#sce ul {
	text-align: left;
	padding: 0;
	margin-top: 10px;
}

div#sce ul li:not(.no-bullet):not(.no_bullet) {
	list-style-type: none;
	margin-left: 0;
	padding-left: 1rem;
}

div#sce ul li:before {
	content: "\002022";
	float: left;
	font-size: 1rem;
	margin-left: -.875rem;
}

section#get-around-campus {
	height: 490px;
	display: block;
	background-color: #fafafa;
	margin-top: 10px;
}

section#get-around-campus .subsection-gac-container {
	max-width: 1260px;
	height: 100%;
	margin: 0 auto;
}

section#get-around-campus .gac-article {
	padding: 50px 100px 0;
}

section#where-to-live {
	height: 1020px;
	display: block;
	background-color: #FFFFFF;
	margin-top: 10px;
}

section#where-to-live .subsection-wtl-container {
	max-width: 1360px;
	height: 100%;
	margin: 0 auto;
}

section#where-to-live .live-desc {
	height: 12%;
}

section#where-to-live .hall-rows {
	height: calc(100% - 23%);
}

section#where-to-live .hall-container {
	height: 100%;
}

section#where-to-live .two-line {
	height: 50%;
	display: block;
	box-sizing: border-box;
	width: 100%;
}

section#where-to-live .grid {
	width: 100%;
	height: 100%;
}

section#where-to-live .grid.divide-three {
	width: calc(100% / 3);
	display: inline-block;
	box-sizing: border-box;
	height: 100%;
	margin: 0 auto;
	padding: 0 10px;
	float: left;
}

section#where-to-live .grid.divide-two {
	width: calc(100% / 2);
	display: inline-block;
	box-sizing: border-box;
	height: 100%;
	margin: 0 auto;
	padding: 0 10px;
	float: left;
}

section#where-to-live .grid .grid-element {
	width: 100%;
	height: 100%;
}

section#where-to-live .grid .grid-element h2 {
	text-align: center;
}

section#other-info {
	height: 450px;
	background-color: #fafafa;
	display: block;
	margin-top: 10px;
}

section#other-info .subsection-oi-container {
	max-width: 1260px;
	height: 100%;
	margin: 0 auto;
}

section#other-info .oi-article {
	padding: 50px 100px 0;
}
