section#officer-banner {
	z-index: 1;
	height: 400px;
	padding: 204px 0;
	background-color: #000000;
	position: relative;
	margin-top: 100px;
}

section#officer-banner .banner-container {
	width: 100%;
	height: 100%;
}

section#officer-banner .officer-header {
	text-align: center;
	width: 100%;
	height: 100%;
	font-family: "Helvetica", Arial, sans-serif;
	font-weight: 400;
	font-size: 55px;
	z-index: 90;
	color: transparent;
	position: absolute;
}

section#officer-banner .officers-all {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	background: url("../img/officers/officers.jpeg") no-repeat;
	background-position-x: center;
}

.header-scroll {
	color: #FFFFFF !important;
	-webkit-transition: color 0.2s ease;
	-moz-transition: color 0.2s ease;
	-ms-transition: color 0.2s ease;
	-o-transition: color 0.2s ease;
	transition: color 0.2s ease;
}

/*
-------------------------------------------------------------------------------
Display for each officer
-------------------------------------------------------------------------------
 */
section.officer-branch {
	width: 100%;
	height: 600px;
	padding: 50px 0;
}

section.officer-branch div.branch-header {
	text-align: center;
	color: #303030;
}

section.officer-branch .officer-container {
	width: 100%;
	height: 100%;
	text-align: center;
	position: relative;
}

section.officer-branch .officer {
	box-sizing: border-box;
	margin: 0 auto;
}

section.officer-branch .officer .container {
	width: 100%;
	height: 100%;
}

section.officer-branch .officer .officer_image {
	height: 70%;
}

section.officer-branch .officer .officer_name {
	font-size: 24px;
	font-family: "Source Sans Pro", Arial, sans-serif;
	font-weight: 700;
}

section.officer-branch .officer .officer_rank {
	font-size: 18px;
	font-family: "Source Sans Pro", Arial, sans-serif;
	font-weight: 600;
	color: #040040;
	text-transform: uppercase;
	position: relative;
	width: fit-content;
	margin: 0 auto;
}

section.officer-branch .officer .officer_rank span.rank_container:after {
	content: "";
	position: absolute;
	height: 4px;
	background-color: #040040;
	left: 50%;
	bottom: -5px;
	width: 50%;
	transform: translate(-50%);
}

/*
-----------------------------------------------------------------------------------
Executive Officers
-----------------------------------------------------------------------------------
 */

section.officer-branch .officer-container #executive-officers {
	max-width: 1360px;
	margin: 0 auto;
	height: 100%;
}

section.officer-branch .officer-container #executive-officers div.officer {
	width: 50%;
	display: inline-block;
	float: left;
	height: 100%;
	padding: 0 20px;
}

/*
-----------------------------------------------------------------------------------
Secondary Officers
-----------------------------------------------------------------------------------
 */

section.officer-branch .officer-container #secondary-officers {
	max-width: 1360px;
	margin: 0 auto;
	height: 100%;
}

section.officer-branch .officer-container #secondary-officers div.officer {
	width: 25%;
	display: inline-block;
	float: left;
	height: 100%;
}
